{% extends "base.html" %}

{% block content %}

<div class="w3-container w3-margin w3-cell">

<table class="w3-striped w3-border w3-left-align">

<tr>
    <th>Rank</th>
    <th>Player</th>
    <th>Team</th>
    <th>Keeper?</th>
{#    <th>Avg Pts</th>#}
    <th>Pos Rk</th>
</tr>

{% for pick in picks %}
    {% if pick.selected %}
    <tr style="text-decoration-line: line-through">
    {% else %}
    <tr>
    {% endif %}
        <td>{{ pick.num }}</td>
        <td>{{ pick.player }}</td>
        <td>{% if pick.selected %}{{ pick.drafted_by }}{% endif %}</td>
        <td>{{ pick.keeper }}</td>
{#        <td>{{ pick.avg_points }}</td>#}
        <td>{{ pick.pos_rank }}</td>
    </tr>
{% endfor %}

</table>

</div>

</div>

{# Current team draft order #}

<div class="w3-container w3-margin w3-cell">

<table class="w3-striped w3-border">

<th>ON THE CLOCK: <br/>{{ current_team.on_the_clock }}</th>

{% for player in current_team.current_roster %}
    <tr>
        <td>{{ player.name }}</td>
        <td>{{ player.player.position }}</td>
    </tr>
{% endfor %}

</table>

</div>

</div>

{% endblock content %}